body {
  font: "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  background-color: #374154;
}

h1 {
  font-size: 100px;
}

.container {
  margin: 40% auto;
}

